dl {
    text-align: center;
    background: #FAFAFA;
    margin: 8px 8px;
    padding: 4px 4px;
}

dt {
    display: inline-block;
    text-align: right;
    width: 125px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.exceed {
    color: #ff1719;
}

.normal {
    color: #2365d4;
}

.in-center {
    text-align: center;
}

.in-right {
    text-align: right;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}