dl {
    text-align: center;
    background: #FAFAFA;
    margin: 8px 8px;
    padding: 4px 4px;
}

dt {
    display: inline-block;
    text-align: right;
    width: 125px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.exceed {
    color: #ff1719;
}

.normal {
    color: #10ac24;
}

.in-center {
    text-align: center;
}

.in-right {
    text-align: right;
    font-size: 16px;
}

.login-error {
    color: #b70b08;
    background-color: #f2d4c8;
    border: 1px solid #b70b08;
}

.reg-success {
    color: #17ac38;
    background-color: #befabf;
    border: 1px solid #17ac38;
}

.reg-error {
    color: #ff1719;
    background-color: #f2dede;
    border: 1px solid #ff1719;
}
.update-warning {
    color: #373737;
    background-color: #ffa334;
    border: 2px solid #757575;
}

.black {
    color: black;
}

.validation:invalid {
    color: gray;
    border: 1px solid gray;
    background-color: lightgrey;
}

.validation:valid {
    color: blue;
    border: 1px solid blue;
    background-color: lightblue;
}
