dl {
    text-align: center;
    background: #FAFAFA;
    margin: 8px 8px;
    padding: 4px 4px;
}

dt {
    display: inline-block;
    text-align: right;
    width: 125px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

/*
header, footer {
    text-align: center;
    background: #24e288;
    color: #000000;
    font-size: 20px;
    padding: 20px 20px;
    margin: auto;
}
*/

.exceed {
    color: red;
}

.normal {
    color: #2365d4;
}