<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

<!--
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
-->

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <!--todo: add correct logging and deny logging incorrect paths-->
    <!--appender to separate logging in different files-->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">

        <discriminator>
            <key>logger_id</key>
            <defaultValue>main</defaultValue>
        </discriminator>

        <sift>
            <!--appender to choose single file to logging-->
            <appender name="${logger_id}" class="ch.qos.logback.core.FileAppender">
                <file>${TEACHME_ROOT}/log/${logger_id}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d [%thread] %level %mdc %logger{35} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>

    </appender>

    <!--appender to logging in console-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ua.teachme" level="debug"/>
    <logger name="org.springframework" level="error"/>
    <logger name="org.hibernate" level="error"/>

    <root level="info">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="console"/>
    </root>

</configuration>
