<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd"
>

    <!--todo: add users login/logout-->
    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

<!--
    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/rest/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>
-->

    <http>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login/>
        <logout/>
        <csrf disabled="true"/>
    </http>


    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="1" password="1" authorities="ADMIN"/>
                <user name="2" password="2" authorities="COMMON"/>
                <user name="3" password="3" authorities="ANONYMOUS"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>