<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
>

<!--
    <bean id="notationRepository" class="ua.teachme.repository.InMemoryNotationRepositoryImpl"/>
    <bean id="notationService" class="ua.teachme.service.NotationServiceImpl">
        <property name="notationRepository" ref="notationRepository"/>
    </bean>
-->

    <!--helpful "context:" to auto scan selected package-->
    <context:annotation-config/>

    <!--add all beans to ctx from "repository (dao)" layer-->
    <context:component-scan base-package="ua.teachme.**.repository.datajpa"/>
    <jpa:repositories base-package="ua.teachme.**.repository.datajpa"/>

    <!--add all beans to ctx from "service (service)" layer-->
    <context:component-scan base-package="ua.teachme.**.service"/>

    <!--add all beans to ctx from "web (controller)" layer-->
    <context:component-scan base-package="ua.teachme.**.web"/>

</beans>