<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd"
>

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <!--todo: close this access after correct fixing-->
        <!--open access to all request with /rest/** pattern-->
        <intercept-url pattern="/rest/**" access="permitAll"/>
        <csrf disabled="true"/>

        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/registration" access="permitAll"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login
                login-page="/login"
                login-processing-url="/spring_security_check"
                default-target-url="/index"
        authentication-failure-url="/login?error=true"
        />
        <logout logout-success-url="/login"/>
    </http>

    <beans:bean class="ua.teachme.utility.password.PasswordUtil" id="passwordUtil" factory-method="getPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userServiceImpl">
        <password-encoder ref="passwordUtil"/>
<!--
            <user-service>
                <user name="1" password="1" authorities="ROLE_ADMIN"/>
                <user name="2" password="2" authorities="ROLE_COMMON"/>
                <user name="3" password="3" authorities="ROLE_ANONYMOUS"/>
            </user-service>
-->
        </authentication-provider>
    </authentication-manager>

</beans:beans>