<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd"
>

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

<!--
    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/rest/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>
-->

    <http>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/registration" access="permitAll"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login
                login-page="/login"
                login-processing-url="/spring_security_check"
                default-target-url="/index"
        authentication-failure-url="/login?error=true"
        />
        <logout logout-success-url="/login"/>
<!--
        <csrf disabled="true"/>
-->
    </http>

    <beans:bean class="ua.teachme.util.password.PasswordUtil" id="passwordUtil" factory-method="getPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userServiceImpl">
        <password-encoder ref="passwordUtil"/>
<!--
            <user-service>
                <user name="1" password="1" authorities="ROLE_ADMIN"/>
                <user name="2" password="2" authorities="ROLE_COMMON"/>
                <user name="3" password="3" authorities="ROLE_ANONYMOUS"/>
            </user-service>
-->
        </authentication-provider>
    </authentication-manager>

<!--
    <beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <beans:property name="cacheSeconds" value="15"/>
        <beans:property name="defaultEncoding" value="UTF-8"/>
        <beans:property name="basenames" value="file:///#{systemEnvironment['TEACHME_ROOT']}/config/messages/app"/>
    </beans:bean>
-->

</beans:beans>