<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>TeachMe</display-name>
    
    <!-- create app-context under the app code, and load configs from context params -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--load configs for app-context-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring/db-connect.xml
            classpath:spring/db-behaviour.xml
            classpath:spring/spring-app.xml
        </param-value>
    </context-param>

    <!--set profiles for app-context-->
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>connect-PostgreSQL,JPA</param-value>
    </context-param>

    <!--Spring MVC-->
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-mvc.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--
        &lt;!&ndash; mapping request {ip:port}/TeachMe/index to IndexServlet &ndash;&gt;
        <servlet>
            <servlet-name>indexServlet</servlet-name>
            <servlet-class>ua.teachme.web.IndexServlet</servlet-class>
            <load-on-startup>0</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>indexServlet</servlet-name>
            <url-pattern>/index</url-pattern>
        </servlet-mapping>

        &lt;!&ndash; mapping request {ip:port}/TeachMe/users to UserServlet &ndash;&gt;
        <servlet>
            <servlet-name>userServlet</servlet-name>
            <servlet-class>ua.teachme.web.UserServlet</servlet-class>
            <load-on-startup>0</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>userServlet</servlet-name>
            <url-pattern>/user</url-pattern>
            <url-pattern>/users</url-pattern>
        </servlet-mapping>

        &lt;!&ndash; mapping request {ip:port}/TeachMe/notations to NotationServlet &ndash;&gt;
        <servlet>
            <servlet-name>notationServlet</servlet-name>
            <servlet-class>ua.teachme.web.NotationServlet</servlet-class>
            <load-on-startup>0</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>notationServlet</servlet-name>
            <url-pattern>/notations</url-pattern>
        </servlet-mapping>
    -->

</web-app>
